@using CustomerData.Models

@{
    var customer = ViewData["Customer"] as Customer;
}

<p>
    @Html.ActionLink("Back","Index")
</p>
<p>
    Id: @customer.Id
</p>
<p>
    Title: @customer.FirstName
</p>
<p>
    Year: @customer.LastName
</p>
<p>
    Composer: @customer.Address
</p>
<p>
    Composer: @customer.Phone
</p>